<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <rewriter>
    <!-- Rewrite department pages -->
    <rewrite url="^.*-d([0-9]+)/?$" to="~/Catalog.aspx?DepartmentID=$1"
   processing="stop" />
    <rewrite url="^.*-d([0-9]+)/page-([0-9]+)/?$"
   to="~/Catalog.aspx?DepartmentID=$1&amp;Page=$2" processing="stop" />
    <!-- Rewrite category pages -->
    <rewrite url="^.*-d([0-9]+)/.*-c([0-9]+)/?$"
   to="~/Catalog.aspx?DepartmentId=$1&amp;CategoryId=$2" processing="stop" />
    <rewrite url="^.*-d([0-9]+)/.*-c([0-9]+)/page-([0-9]+)/?$"
   to="~/Catalog.aspx?DepartmentId=$1&amp;CategoryId=$2&amp;Page=$3"
   processing="stop" />
    <!-- Rewrite product details pages -->
    <rewrite url="^.*-p([0-9]+).*$" to="~/Product.aspx?ProductId=$1"
   processing="stop" />
    <rewrite url="/my-super-product.aspx" to="~/Product.aspx?ProductID=1" />

  </rewriter>
  <connectionStrings>
    <add name="VacationReservationsConnection" connectionString="Server=DEVMACHINE\SqlExpress; Database=VacationReservations; User=ebusiness;Password=123456" providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=DEVMACHINE\SqlExpress; Database=VacationReservations; User=ebusiness;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms name="VacationReservationsLogin" loginUrl="Login.aspx" path="/" protection="All" timeout="60">
      </forms>
    </authentication>
    <roleManager enabled="true" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Oops.aspx">
      <error statusCode="404" redirect="~/NotFound.aspx" />
      <error statusCode="500" redirect="~/Oops.aspx" />
    </customErrors>
    <pages theme="VacationReservationsDefault" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter" />
    </httpModules>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="bg-BG" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter" />
    </modules>
  </system.webServer>
  <appSettings>
    <add key="PaypalUrl" value="https://www.paypal.com/xclick" />
    <add key="CartPersistDays" value="10" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="MailServer" value="mail server address" />
    <add key="MailUsername" value="mail username " />
    <add key="MailPassword" value="mail password" />
    <add key="MailFrom" value="mail address" />
    <add key="EnableErrorLogEmail" value="true" />
    <add key="ErrorLogEmail" value="errors@example.com" />
    <add key="ProductsPerPage" value="6" />
    <add key="ProductDescriptionLength" value="60" />
    <add key="SiteName" value="Резервации" />
  </appSettings>
  <location path="AdminDepartments.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminCategories.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminProducts.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminProductDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminShoppingCart.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminOrders.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminOrderDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <profile>
      <properties>
        <add name="CreditCard" type="System.String" />
        <add name="Address1" type="System.String" />
        <add name="Address2" type="System.String" />
        <add name="City" type="System.String" />
        <add name="Region" type="System.String" />
        <add name="PostalCode" type="System.String" />
        <add name="Country" type="System.String" />
        <add name="ShippingRegion" type="System.String" />
        <add name="DayPhone" type="System.String" />
        <add name="EvePhone" type="System.String" />
        <add name="MobPhone" type="System.String" />
      </properties>
    </profile>
  </system.web>
  <location path="CustomerDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OrderPlaced.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>